html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: calc(550px/1.5) !important;
  height: calc(800px/1.5) !important;
}

#hands {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("handtrans.png");
  background-size: 1280px;
  background-position: calc(50% - 150px) calc(50% - 20px);
  background-repeat: no-repeat;
}
